<header class="header">
	<div id="navigator">
		<%= image_tag("logo.png", :alt => "Sample App", :class => "left") %>
  		<nav class="round">
    		<ul id="primaryNavigation">
      			<li class="current_page_item"><%= link_to "News", '#' %></li>
      			<li><%= link_to "Examples", '#' %></li>
      			<li><%= link_to "Links", '#' %></li>
    		</ul>
  		</nav>
		<div class="clear">
		</div>
</header>